/*general*/

* {
	font-family: "Avenir Next", "Segoe UI", "Helvetica Neue", Arial, "Hiragino Sans GB", "PingFang SC", "Heiti SC", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans", sans-serif;
	letter-spacing: 0.03em;
}

a::selection, p::selection, span::selection {
	background: #8cc63f;
	color: #FDFFFA;
}

body {
	background-color: #FDFFFA;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}



ul {
	margin: 0;
	padding: 0;
}

html, body, .body-wrap {
	margin: 0;
	height: 100%;

}

.top-bar {
	height: 5px;
	background-color: #8cc63f;
}

.body-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.top-sns, .bottom {
	display: flex;
	justify-content: space-between;
}

.bottom {
	align-items: flex-end;
	font-size: 12px;
}

.middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -70px;
}

.title {
	margin-bottom: 50px;
	padding: 0 20px;
}


.title img {
	/*height: 120px;*/
	max-width: 100%;
	box-sizing: border-box;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
}

.nav-list li {
	list-style: none;
	padding: 0 32px;
}

.nav-item {
	display: inline-block;
	color: #AEB0AD;
	font-size: 14px;
}

.nav-item:hover {
	color: #3A3A3A;
	font-weight: 500;
}



.links {
	padding: 10px;
	opacity: 0.4;
}

.links:hover {
	opacity: 1;
	font-weight: 500;
}

.footNote {
	color: #AEB0AD;
}

/*eye*/

#pupilleft {
  position: relative;
  background: #3A3A3A;
  border-radius: 50%;
}

#eyeleft {
  position: relative;
  background: #B6EB63;
  overflow: hidden;
  border-radius: 50%;
  z-index: 9999;
}

#pupilleft {
  width: 70%;
  height: 70%;
}

#eyeleft {/*
  width: 24px;
  height: 24px;
  left: 54px;
  top: 55px;*/
	position: absolute;
	width: 5%;
	height: 19.5%;
	left: 7.5%;
	top: 24%;
}

#richor {
	display: block;
	position: relative;
}

/*about*/

#wechat-link:hover, #nav-about:hover {
	cursor: pointer;
}

#about-text {
	display: none;
	width: 50%;
	font-size: 15px;
	line-height: 1.8rem;
	letter-spacing: 0.2rem;
	text-align: justify;
}

#about-text a {
	color: #8cc63f;
}
#about-text a:hover {
	background-color: #8cc63f;
	color: #FDFFFA; 
}

/*qrcode*/
#qrcode {
	width: 150px;
	position: absolute;
	display: none;
	left: 30px;
	bottom: 30px;
}

/*responsive*/
@media screen and (max-width: 490px) {
	#richor {
		margin-top: 60px;
	}
	.nav-list li {
		width: 100%;
		text-align: center;
		margin-bottom: 24px;
	}
	.nav-item {
		font-size: 18px;
	}
	.top-bar {
		display: none;
	}
	body {
		border: 8px solid #8cc63f;
		box-sizing: border-box;
	}
	.links {
		height: 24px;
		padding: 14px;
	}
	.footNote {
		text-align: center; 
		display: none;
	}
	#about-text {
		width: 84%;
		margin-top: -40px;
		letter-spacing: 0;
	}
}


